.point-page {
  .MuiBox-root {
    margin: auto;
  }

  .MuiTabs-flexContainer {
    display: flex;
    justify-content: space-around;
  }

  &-title {
    text-align: center;
  }

  &-block-info {
    text-align: center;
  }
}